@import 'src/sass/common';

#skills {
  display: flex;
  flex-direction: column;

  .dynamic-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .titles {
      display: flex;
      flex-direction: column;
      align-self: center;
      justify-content: flex-start;

      .title-gradient {
        text-align: center;
        font-weight: 800;
        background: linear-gradient(to top, transparent 0%, $darkPurple 70%);
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent;
        opacity: 0.1;
      }

      .title-solid {
        text-align: center;
        font-weight: 700;
        position: relative;
        margin: 0;
      }
    }

    .cards-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      .education, .skills, .experience {
        .subtitle {
          h3 {
            font-weight: 500;
            background-color: $purple;
            color: white;
          }
        }

        .cards {
          width: 100%;
          overflow-y: auto;
          overflow-x: hidden;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(7.9px);
          pointer-events: none;

          &::-webkit-scrollbar-track,
          &::-webkit-scrollbar-thumb {
            border-radius: 0 5px 5px 0;
          }

          .box {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &:hover {
              transform: scale(1.03);
            }

            &:last-child {
              margin: 0;
            }

            .period {
            }

            .description {
            }

            .information {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;

              .icons {
                display: flex;
                align-items: center;

                i {
                }
              }

              .title {
                font-weight: 600;
              }

              .percentage {
              }
            }

            .bar {
              width: 100%;
              background-color: #f3f3f3;

              .percentage {
                height: 100%;
                background-color: $purple;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px) and (orientation: portrait) {
  #skills {
    min-height: 100vh;
    width: 100%;

    .container {
      width: 85%;
    }

    .dynamic-flex {
      height: auto;

      .titles {
        margin-bottom: 7.5%;

        .title-gradient {
          font-size: clamp(2.3125rem, 0.75rem + 12.5vw, 3.25rem);
          line-height: 100%;
        }

        .title-solid {
          font-size: clamp(1.9375rem, 0.5833rem + 10.8333vw, 2.75rem);
          line-height: 100%;
        }
      }

      .cards-container {
        height: auto;
        width: 100%;
        flex-direction: column;
        gap: 30px;

        .education, .skills, .experience {
          width: 100%;

          .subtitle {
            width: 100%;
            margin-bottom: 15px;

            h3 {
              font-size: clamp(0.8rem, -0.0071rem + 3.7736vw, 1.125rem);
              padding: 5px 10px;
              width: fit-content;
              border-radius: 3px;
            }
          }

          .cards {
            height: auto;
            border-radius: 3px;
            padding: 15px;

            &::-webkit-scrollbar-track,
            &::-webkit-scrollbar-thumb {
              border-radius: 0 3px 3px 0;
            }

            .box {
              border-radius: 3px;
              padding: 15px;
              margin-bottom: 15px;

              .period {
                font-size: clamp(0.63rem, -0.1321rem + 4vw, 1rem);
              }

              .description {
                font-size: clamp(0.8rem, -0.0071rem + 3.7736vw, 1.125rem);
                margin-top: 5px;
              }

              .information {
                .icons {
                  i {
                    margin-left: 10px;
                  }
                }

                .title {
                  font-size: clamp(0.625rem, -0.1321rem + 4vw, 1rem);
                }

                .percentage {
                  font-size: clamp(0.625rem, -0.1321rem + 4vw, 1rem);
                }
              }

              .bar {
                height: 15px;
                margin-top: 10px;
                border-radius: 3px;

                .percentage {
                  border-radius: 2px 0 0 2px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) and (orientation: portrait) {
  #skills {
    min-height: 100vh;
    width: 100%;

    .container {
      width: 85%;
    }

    .dynamic-flex {
      height: auto;

      .titles {
        margin-bottom: 7.5%;

        .title-gradient {
          font-size: clamp(2.3125rem, 0.75rem + 12.5vw, 3.25rem);
          line-height: 100%;
        }

        .title-solid {
          font-size: clamp(1.9375rem, 0.5833rem + 10.8333vw, 2.75rem);
          line-height: 100%;
        }
      }

      .cards-container {
        height: auto;
        width: 100%;
        flex-direction: column;
        gap: 30px;

        .education, .skills, .experience {
          width: 100%;

          .subtitle {
            width: 100%;
            margin-bottom: 15px;

            h3 {
              font-size: clamp(0.75rem, -0.0071rem + 3.7736vw, 1.125rem);
              padding: 5px 10px;
              width: fit-content;
              border-radius: 3px;
            }
          }

          .cards {
            height: auto;
            border-radius: 3px;
            padding: 15px;

            &::-webkit-scrollbar-track,
            &::-webkit-scrollbar-thumb {
              border-radius: 0 3px 3px 0;
            }

            .box {
              border-radius: 3px;
              padding: 15px;
              margin-bottom: 15px;

              .period {
                font-size: clamp(0.60rem, -0.1321rem + 3.8vw, 1rem);
              }

              .description {
                font-size: clamp(0.625rem, -0.1321rem + 4vw, 1rem);
                margin-top: 5px;
              }

              .information {
                .icons {
                  i {
                    margin-left: 10px;
                  }
                }

                .title {
                  font-size: clamp(0.625rem, -0.1321rem + 4vw, 1rem);
                }

                .percentage {
                  font-size: clamp(0.625rem, -0.1321rem + 4vw, 1rem);
                }
              }

              .bar {
                height: 15px;
                margin-top: 10px;
                border-radius: 3px;

                .percentage {
                  border-radius: 2px 0 0 2px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
  #skills {
    min-height: 100vh;
    width: 100%;

    .container {
      width: 85%;
    }

    .dynamic-flex {
      height: auto;

      .titles {
        margin-bottom: 7.5%;

        .title-gradient {
          font-size: clamp(3.75rem, 2.1788rem + 5.2265vw, 4.6875rem);
          line-height: 100%;
        }

        .title-solid {
          font-size: clamp(2.8125rem, 1.2413rem + 5.2265vw, 3.75rem);
          line-height: 100%;
        }
      }

      .cards-container {
        height: auto;
        width: 100%;
        flex-direction: column;
        gap: 30px;

        .education, .skills, .experience {
          width: 100%;

          .subtitle {
            width: 100%;
            margin-bottom: 15px;

            h3 {
              font-size: clamp(0.75rem, -0.0071rem + 3.7736vw, 1.2rem);
              padding: 5px 10px;
              width: fit-content;
              border-radius: 3px;
            }
          }

          .cards {
            height: auto;
            border-radius: 3px;
            padding: 15px;

            &::-webkit-scrollbar-track,
            &::-webkit-scrollbar-thumb {
              border-radius: 0 3px 3px 0;
            }

            .box {
              border-radius: 3px;
              padding: 15px;
              margin-bottom: 15px;

              .period {
                font-size: clamp(0.6rem, -0.1321rem + 3.8vw, 1rem);
              }

              .description {
                font-size: clamp(0.625rem, -0.1321rem + 4vw, 1rem);
                margin-top: 5px;
              }

              .information {
                .icons {
                  i {
                    margin-left: 10px;
                  }
                }

                .title {
                  font-size: clamp(0.625rem, -0.1321rem + 4vw, 1rem);
                }

                .percentage {
                  font-size: clamp(0.625rem, -0.1321rem + 4vw, 1rem);
                }
              }

              .bar {
                height: 15px;
                margin-top: 10px;
                border-radius: 3px;

                .percentage {
                  border-radius: 2px 0 0 2px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  #skills {
    min-height: 100vh;
    width: 100%;

    .container {
      width: 85%;
    }

    .dynamic-flex {
      height: auto;

      .titles {
        margin-bottom: 7.5%;

        .title-gradient {
          font-size: clamp(5.3125rem, 3.7413rem + 5.2265vw, 6.25rem);
          line-height: 100%;
        }

        .title-solid {
          font-size: clamp(4.375rem, 2.8038rem + 5.2265vw, 5.3125rem);
          line-height: 100%;
        }
      }

      .cards-container {
        height: auto;
        width: 100%;
        flex-direction: column;
        gap: 50px;

        .education, .skills, .experience {
          width: 100%;

          .subtitle {
            width: 100%;
            margin-bottom: 25px;

            h3 {
              font-size: clamp(1.4375rem, 0.6836rem + 1.5686vw, 1.6875rem);
              padding: 10px 15px;
              width: fit-content;
              border-radius: 3px;
            }
          }

          .cards {
            height: auto;
            border-radius: 3px;
            padding: 15px;

            &::-webkit-scrollbar-track,
            &::-webkit-scrollbar-thumb {
              border-radius: 0 3px 3px 0;
            }

            .box {
              border-radius: 3px;
              padding: 15px;
              margin-bottom: 15px;

              .period {
                font-size: clamp(1.2125rem, 0.7471rem + 1vw, 1.5rem);
              }

              .description {
                font-size: clamp(1.3125rem, 0.7471rem + 1.1765vw, 1.5rem);
                margin-top: 5px;
              }

              .information {
                .icons {
                  i {
                    margin-left: 10px;
                  }
                }

                .title {
                  font-size: clamp(1.3125rem, 0.7471rem + 1.1765vw, 1.5rem);
                }

                .percentage {
                  font-size: clamp(1.3125rem, 0.7471rem + 1.1765vw, 1.5rem);
                }
              }

              .bar {
                height: 15px;
                margin-top: 10px;
                border-radius: 3px;

                .percentage {
                  border-radius: 2px 0 0 2px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 655px) and (orientation: landscape) {
  #skills {
    min-height: 100vh;
    width: 100%;

    .container {
      width: 85%;
    }

    .dynamic-flex {
      height: auto;

      .titles {
        margin-bottom: 7.5%;

        .title-gradient {
          font-size: clamp(2.1875rem, 1.292rem + 4.4776vw, 3.125rem);
          line-height: 100%;
        }

        .title-solid {
          font-size: clamp(1.25rem, 0.3545rem + 4.4776vw, 2.1875rem);
          line-height: 100%;
        }
      }

      .cards-container {
        height: auto;
        width: 100%;
        flex-direction: column;
        gap: 30px;

        .education, .skills, .experience {
          width: 100%;

          .subtitle {
            width: 100%;
            margin-bottom: 10px;

            h3 {
              font-size: 1.5vw;
              padding: 10px;
              width: fit-content;
              border-radius: 3px;
            }
          }

          .cards {
            height: auto;
            border-radius: 3px;
            padding: 15px;

            &::-webkit-scrollbar-track,
            &::-webkit-scrollbar-thumb {
              border-radius: 0 3px 3px 0;
            }

            .box {
              border-radius: 3px;
              padding: 15px;
              margin-bottom: 15px;

              .period {
                font-size: 1.4vw;
              }

              .description {
                font-size: 1.5vw;
                margin-top: 5px;
              }

              .information {
                .icons {
                  i {
                    margin-left: 10px;
                  }
                }

                .title {
                  font-size: 1.5vw;
                }

                .percentage {
                  font-size: 1.5vw;
                }
              }

              .bar {
                height: 15px;
                margin-top: 10px;
                border-radius: 3px;

                .percentage {
                  border-radius: 2px 0 0 2px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 656px) and (max-width: 1024px) and (orientation: landscape) {
  #skills {
    min-height: 100vh;
    width: 100%;

    .container {
      width: 85%;
    }

    .dynamic-flex {
      height: auto;

      .titles {
        margin-bottom: 7.5%;

        .title-gradient {
          font-size: clamp(2.1875rem, 1.292rem + 4.4776vw, 3.125rem);
          line-height: 100%;
        }

        .title-solid {
          font-size: clamp(1.25rem, 0.3545rem + 4.4776vw, 2.1875rem);
          line-height: 100%;
        }
      }

      .cards-container {
        height: auto;
        width: 100%;
        flex-direction: column;
        gap: 30px;

        .education, .skills, .experience {
          width: 100%;

          .subtitle {
            width: 100%;
            margin-bottom: 10px;

            h3 {
              font-size: clamp(0.625rem, 0.2908rem + 0.8152vw, 0.8125rem);
              padding: 10px;
              width: fit-content;
              border-radius: 3px;
            }
          }

          .cards {
            height: auto;
            border-radius: 3px;
            padding: 15px;

            &::-webkit-scrollbar-track,
            &::-webkit-scrollbar-thumb {
              border-radius: 0 3px 3px 0;
            }

            .box {
              border-radius: 3px;
              padding: 15px;
              margin-bottom: 15px;

              .period {
                font-size: clamp(0.525rem, 0.4022rem + 0.5435vw, 0.65rem);
              }

              .description {
                font-size: clamp(0.625rem, 0.4022rem + 0.5435vw, 0.75rem);
                margin-top: 5px;
              }

              .information {
                .icons {
                  i {
                    margin-left: 10px;
                  }
                }

                .title {
                  font-size: clamp(0.625rem, 0.4022rem + 0.5435vw, 0.75rem);
                }

                .percentage {
                  font-size: clamp(0.625rem, 0.4022rem + 0.5435vw, 0.75rem);
                }
              }

              .bar {
                height: 15px;
                margin-top: 10px;
                border-radius: 3px;

                .percentage {
                  border-radius: 2px 0 0 2px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) and (orientation: landscape) {
  #skills {
    min-height: 100vh;
    width: 100%;

    .container {
      width: 85%;
    }

    .dynamic-flex {
      height: auto;

      .titles {
        margin-bottom: 7.5%;

        .title-gradient {
          font-size: clamp(2.1875rem, -0.7976rem + 14.9254vw, 5.3125rem);
          line-height: 100%;
        }

        .title-solid {
          font-size: clamp(1.25rem, -1.7351rem + 14.9254vw, 4.375rem);
          line-height: 100%;
        }
      }

      .cards-container {
        height: auto;
        width: 100%;
        flex-direction: column;
        gap: 30px;

        .education, .skills, .experience {
          width: 100%;

          .subtitle {
            width: 100%;
            margin-bottom: 10px;

            h3 {
              font-size: clamp(0.9375rem, 0.2054rem + 1.1429vw, 1.0625rem);
              padding: 10px 15px;
              width: fit-content;
              border-radius: 3px;
            }
          }

          .cards {
            height: auto;
            border-radius: 3px;
            padding: 15px;

            &::-webkit-scrollbar-track,
            &::-webkit-scrollbar-thumb {
              border-radius: 0 3px 3px 0;
            }

            .box {
              border-radius: 3px;
              padding: 15px;
              margin-bottom: 15px;

              .period {
                font-size: clamp(0.775rem, 0.5089rem + 0.5714vw, 0.7375rem);
              }

              .description {
                font-size: clamp(0.1875rem, 0.0595rem + 1.024vw, 1.3625rem);
                margin-top: 5px;
              }

              .information {
                .icons {
                  i {
                    margin-left: 10px;
                  }
                }

                .title {
                  font-size: clamp(0.1875rem, 0.0595rem + 1.024vw, 1.3625rem);
                }

                .percentage {
                  font-size: clamp(0.1875rem, 0.0595rem + 1.024vw, 1.3625rem);
                }
              }

              .bar {
                height: 15px;
                margin-top: 10px;
                border-radius: 3px;

                .percentage {
                  border-radius: 2px 0 0 2px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) and (orientation: portrait) {
  #skills {
    min-height: 100vh;
    width: 100%;

    .container {
      width: 85%;
    }

    .dynamic-flex {
      height: auto;

      .titles {
        margin-bottom: 7.5%;

        .title-gradient {
          font-size: clamp(5.5rem, -0.0715rem + 3.6vw, 7rem);
          line-height: 100%;
        }

        .title-solid {
          font-size: clamp(4.5rem, -2.9375rem + 4.8vw, 6.0625rem);
          line-height: 100%;
        }
      }

      .cards-container {
        height: auto;
        width: 100%;
        flex-direction: column;
        gap: 50px;

        .education, .skills, .experience {
          width: 100%;

          .subtitle {
            width: 100%;
            margin-bottom: 25px;

            h3 {
              font-size: clamp(1.25rem, -0.066rem + 1.4028vw, 1.6875rem);
              padding: 10px 15px;
              width: fit-content;
              border-radius: 3px;
            }
          }

          .cards {
            height: auto;
            border-radius: 3px;
            padding: 15px;

            &::-webkit-scrollbar-track,
            &::-webkit-scrollbar-thumb {
              border-radius: 0 3px 3px 0;
            }

            .box {
              border-radius: 3px;
              padding: 15px;
              margin-bottom: 15px;

              .period {
                font-size: clamp(0.1575rem, 0.0595rem + 1.004vw, 1.2625rem);
              }

              .description {
                font-size: clamp(0.1875rem, 0.0595rem + 1.024vw, 1.3625rem);
                margin-top: 5px;
              }

              .information {
                .icons {
                  i {
                    margin-left: 10px;
                  }
                }

                .title {
                  font-size: clamp(0.1875rem, 0.0595rem + 1.024vw, 1.3625rem);
                }

                .percentage {
                  font-size: clamp(0.1875rem, 0.0595rem + 1.024vw, 1.3625rem);
                }
              }

              .bar {
                height: 15px;
                margin-top: 10px;
                border-radius: 3px;

                .percentage {
                  border-radius: 2px 0 0 2px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1201px) and (max-width: 1500px) {
  #skills {
    height: 100vh;
    max-height: 100vh;
    width: 100%;

    .dynamic-flex {
      height: 90%;
      max-height: 90%;

      .titles {
        max-height: 25%;

        .title-gradient {
          font-size: clamp(2.1875rem, -0.7976rem + 14.9254vw, 5.3125rem);
          line-height: 100%;
        }

        .title-solid {
          font-size: clamp(1.25rem, -1.7351rem + 14.9254vw, 4.375rem);
          line-height: 100%;
        }
      }

      .cards-container {
        max-height: 65%;
        width: 100%;

        .education, .skills, .experience {
          height: 100%;
          width: calc(95% / 3);

          .subtitle {
            width: 90%;
            margin-bottom: 15px;

            h3 {
              font-size: clamp(0.9375rem, -0.3177rem + 1.6722vw, 1.25rem);
              width: fit-content;
              padding: 5px 10px;
              border-radius: 5px;
            }
          }

          .cards {
            width: 100%;
            max-height: 92%;
            border-radius: 5px;
            padding: 15px;

            .box {
              width: 100%;
              border-radius: 5px;
              padding: 15px;
              margin-bottom: 15px;

              .period {
                font-size: clamp(0.1875rem, 0.0595rem + 1.024vw, 1.3625rem);
              }

              .description {
                font-size: clamp(0.1875rem, 0.0595rem + 1.024vw, 1.3625rem);
                margin-top: 5px;
              }

              .information {
                width: 100%;

                .icons {
                  i {
                    margin-left: 10px;
                  }
                }

                .title {
                  font-size: clamp(0.1875rem, 0.0595rem + 1.024vw, 1.3625rem);
                  font-weight: 600;
                }
              }

              .bar {
                width: 100%;
                height: 15px;
                margin-top: 11px;
                border-radius: 2px;

                .percentage {
                  height: 100%;
                  font-size: clamp(0.1875rem, 0.0595rem + 1.024vw, 1.3625rem);
                  border-radius: 2px 0 0 2px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1501px) and (max-width: 2000px) {
  #skills {
    height: 100vh;
    max-height: 100vh;
    width: 100%;

    .dynamic-flex {
      height: 90%;
      max-height: 90%;

      .titles {
        max-height: 25%;

        .title-gradient {
          font-size: clamp(2.1875rem, -0.7976rem + 14.9254vw, 5.3125rem);
          line-height: 100%;
        }

        .title-solid {
          font-size: clamp(1.25rem, -1.7351rem + 14.9254vw, 4.375rem);
          line-height: 100%;
        }
      }

      .cards-container {
        max-height: 65%;
        width: 100%;

        .education, .skills, .experience {
          height: 100%;
          width: calc(95% / 3);

          .subtitle {
            width: 90%;
            margin-bottom: 15px;

            h3 {
              font-size: clamp(1.25rem, -0.066rem + 1.4028vw, 1.6875rem);
              width: fit-content;
              padding: 5px 10px;
              border-radius: 5px;
            }
          }

          .cards {
            width: 100%;
            max-height: 92%;
            border-radius: 5px;
            padding: 15px;

            .box {
              width: 100%;
              border-radius: 5px;
              padding: 15px;
              margin-bottom: 15px;

              .period {
                font-size: clamp(0.1875rem, 0.0595rem + 1.024vw, 1.3625rem);
              }

              .description {
                font-size: clamp(0.1875rem, 0.0595rem + 1.024vw, 1.3625rem);
                margin-top: 5px;
              }

              .information {
                width: 100%;

                .icons {
                  i {
                    margin-left: 10px;
                  }
                }

                .title {
                  font-size: clamp(0.1875rem, 0.0595rem + 1.024vw, 1.3625rem);
                  font-weight: 600;
                }
              }

              .bar {
                width: 100%;
                height: 15px;
                margin-top: 11px;
                border-radius: 2px;

                .percentage {
                  height: 100%;
                  font-size: clamp(0.1875rem, 0.0595rem + 1.024vw, 1.3625rem);
                  border-radius: 2px 0 0 2px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 2001px) {
  #skills {
    height: 100vh;
    max-height: 100vh;
    width: 100%;

    .dynamic-flex {
      height: 90%;
      max-height: 90%;

      .titles {
        max-height: 25%;

        .title-gradient {
          font-size: clamp(4.6875rem, 1.875rem + 3vw, 5.625rem);
          line-height: 100%;
        }

        .title-solid {
          font-size: clamp(3.75rem, 0.9375rem + 3vw, 4.6875rem);
          line-height: 100%;
        }
      }

      .cards-container {
        max-height: 65%;
        width: 100%;

        .education, .skills, .experience {
          height: 100%;
          width: calc(95% / 3);

          .subtitle {
            width: 90%;
            margin-bottom: 15px;

            h3 {
              font-size: clamp(1.5rem, -0.066rem + 1.4028vw, 2rem);
              width: fit-content;
              padding: 5px 10px;
              border-radius: 5px;
            }
          }

          .cards {
            width: 100%;
            max-height: 92%;
            border-radius: 5px;
            padding: 15px;

            .box {
              width: 100%;
              border-radius: 5px;
              padding: 15px;
              margin-bottom: 15px;

              .period {
                font-size: clamp(0.1475rem, 0.0595rem + 1.002vw, 1.1625rem);
              }

              .description {
                font-size: clamp(0.1875rem, 0.0595rem + 1.024vw, 1.3625rem);
                margin-top: 5px;
              }

              .information {
                width: 100%;

                .icons {
                  i {
                    margin-left: 10px;
                  }
                }

                .title {
                  font-size: clamp(0.1875rem, 0.0595rem + 1.024vw, 1.3625rem);
                  font-weight: 600;
                }
              }

              .bar {
                width: 100%;
                height: 15px;
                margin-top: 11px;
                border-radius: 2px;

                .percentage {
                  height: 100%;
                  font-size: clamp(0.1875rem, 0.0595rem + 1.024vw, 1.3625rem);
                  border-radius: 2px 0 0 2px;
                }
              }
            }
          }
        }
      }
    }
  }
}
