@import 'src/sass/common';

#popup {
  position: fixed !important;
  z-index: 999;
  height: 100vh;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  overflow-y: hidden;
  color: $darkPurple;

  #loader {
    display: block;
    margin: 0 auto;
  }

  #modal {
    animation: fade-in 1s ease-in-out both;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    .top {
      background: $purple;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        text-align: center;
        border-radius: 50%;
      }
    }

    .bottom {
      background: $white;
      color: $purple;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      span {
        text-align: center;
        line-height: 100%;

        strong {
        }
      }

      button {
        background-color: $purple;
        border: none;
        color: $white;
        cursor: pointer;
      }
    }
  }

  #navbar {
    background: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    display: flex;
    justify-content: center;
    position: relative;

    i {
      cursor: pointer;
      position: absolute;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;

      li {
        text-align: center;
      }

      .li-active-light {
        border: none !important;
        color: $purple;
      }
    }
  }
}

@media screen and (max-width: 320px) and (orientation: portrait) {
  #popup {
    #loader {
      border-radius: 3px;
    }

    #modal {
      width: auto;
      height: auto;
      border-radius: 3px;

      .top {
        width: 100%;
        height: 50%;
        border-radius: 3px 3px 0 0;
        padding: 15px;

        i {
          padding: 20px;
          border: 2px solid $white;
          font-size: clamp(0.85rem, -0.4505rem + 6.9182vw, 1.625rem);
        }
      }

      .bottom {
        width: 100%;
        height: 50%;
        border-radius: 0 0 3px 3px;
        padding: 15px;
        gap: 15px;

        span {
          font-size: clamp(0.65rem, -0.1321rem + 4vw, 1rem);

          strong {
            font-size: clamp(0.8rem, -0.0071rem + 3.7736vw, 1.125rem);
          }
        }

        button {
          padding: 10px 15px;
          border-radius: 3px;
          font-size: clamp(0.8rem, -0.0071rem + 3.7736vw, 1.125rem);
        }
      }
    }

    #navbar {
      height: auto;
      width: 85%;
      border-radius: 3px;

      i {
        top: 10px;
        right: 10px;
        font-size: 18px;
      }

      ul {
        gap: 35px;
        padding: 30px 20px;

        li {
          font-size: clamp(0.9375rem, 0.625rem + 2.5vw, 1.125rem);
        }
      }
    }
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) and (orientation: portrait) {
  #popup {
    #loader {
      border-radius: 3px
    }

    #modal {
      width: auto;
      height: auto;
      border-radius: 3px;

      .top {
        width: 100%;
        height: 50%;
        border-radius: 3px 3px 0 0;
        padding: 20px;

        i {
          padding: 20px;
          border: 2px solid $white;
          font-size: clamp(0.9375rem, -0.4505rem + 6.9182vw, 1.625rem);
        }
      }

      .bottom {
        width: 100%;
        height: 50%;
        border-radius: 0 0 3px 3px;
        padding: 20px;
        gap: 20px;

        span {
          font-size: clamp(0.625rem, -0.1321rem + 4vw, 1rem);

          strong {
            font-size: clamp(0.75rem, -0.0071rem + 3.7736vw, 1.125rem);
          }
        }

        button {
          padding: 10px 15px;
          border-radius: 3px;
          font-size: clamp(0.75rem, -0.0071rem + 3.7736vw, 1.125rem);
        }
      }
    }

    #navbar {
      height: auto;
      width: 85%;
      border-radius: 3px;

      i {
        top: 10px;
        right: 10px;
        font-size: 18px;
      }

      ul {
        gap: 35px;
        padding: 30px 20px;

        li {
          font-size: clamp(0.9375rem, 0.625rem + 2.5vw, 1.125rem);
        }
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
  #popup {
    #loader {
      border-radius: 3px
    }

    #modal {
      width: auto;
      height: auto;
      border-radius: 3px;

      .top {
        width: 100%;
        height: 50%;
        border-radius: 3px 3px 0 0;
        padding: 20px;

        i {
          padding: 20px;
          border: 2px solid $white;
          font-size: clamp(0.9375rem, -0.4505rem + 6.9182vw, 1.625rem);
        }
      }

      .bottom {
        width: 100%;
        height: 50%;
        border-radius: 0 0 3px 3px;
        padding: 20px;
        gap: 20px;

        span {
          font-size: clamp(0.625rem, -0.1321rem + 4vw, 1.1rem);

          strong {
            font-size: clamp(0.75rem, -0.0071rem + 3.7736vw, 1.2rem);
          }
        }

        button {
          padding: 10px 15px;
          border-radius: 3px;
          font-size: clamp(0.75rem, -0.0071rem + 3.7736vw, 1.2rem);
        }
      }
    }

    #navbar {
      height: auto;
      width: 85%;
      border-radius: 3px;

      i {
        top: 12px;
        right: 12px;
        font-size: 22px;
      }

      ul {
        gap: 35px;
        padding: 30px 20px;

        li {
          font-size: clamp(1.25rem, 1.0405rem + 0.6969vw, 1.375rem);
        }
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  #popup {
    #loader {
      border-radius: 5px
    }

    #modal {
      width: auto;
      height: auto;
      border-radius: 3px;

      .top {
        width: 100%;
        height: 50%;
        border-radius: 3px 3px 0 0;
        padding: 20px;

        i {
          padding: 25px;
          border: 2px solid $white;
          font-size: clamp(2.1875rem, 0.6797rem + 3.1373vw, 2.6875rem);
        }
      }

      .bottom {
        width: 100%;
        height: 50%;
        border-radius: 0 0 3px 3px;
        padding: 20px;
        gap: 20px;

        span {
          font-size: clamp(1.3125rem, 0.7471rem + 1.1765vw, 1.5rem);

          strong {
            font-size: clamp(1.4375rem, 0.6836rem + 1.5686vw, 1.6875rem);
          }
        }

        button {
          padding: 10px 15px;
          border-radius: 3px;
          font-size: clamp(1.4375rem, 0.6836rem + 1.5686vw, 1.6875rem);
        }
      }
    }

    #navbar {
      height: auto;
      width: 85%;
      border-radius: 5px;

      i {
        top: 15px;
        right: 15px;
        font-size: 28px;
      }

      ul {
        gap: 50px;
        padding: 40px 20px;

        li {
          font-size: clamp(2rem, 1.0405rem + 0.6969vw, 3rem);
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 655px) and (orientation: landscape) {
  #popup {
    #loader {
      border-radius: 5px
    }

    #modal {
      width: auto;
      height: auto;
      border-radius: 3px;

      .top {
        width: 100%;
        height: 50%;
        border-radius: 3px 3px 0 0;
        padding: 10px;

        i {
          padding: 10px;
          border: 1px solid $white;
          font-size: 1.4vw;
        }
      }

      .bottom {
        width: 100%;
        height: 50%;
        border-radius: 0 0 3px 3px;
        padding: 10px;
        gap: 10px;

        span {
          font-size: 1.1vw;

          strong {
            font-size: 1.2vw;
          }
        }

        button {
          padding: 5px;
          border-radius: 3px;
          font-size: 1.2vw;
        }
      }
    }

    #navbar {
      height: auto;
      width: 85%;
      border-radius: 5px;

      i {
        top: 15px;
        right: 15px;
        font-size: 28px;
      }

      ul {
        gap: 50px;
        padding: 40px 20px;

        li {
          font-size: clamp(2rem, 1.0405rem + 0.6969vw, 3rem);
        }
      }
    }
  }
}

@media screen and (min-width: 656px) and (max-width: 1024px) and (orientation: landscape) {
  #popup {
    #loader {
      border-radius: 5px
    }

    #modal {
      width: auto;
      height: auto;
      border-radius: 3px;

      .top {
        width: 100%;
        height: 50%;
        border-radius: 3px 3px 0 0;
        padding: 20px;

        i {
          padding: 15px;
          border: 2px solid $white;
          font-size: clamp(0.625rem, 0.2908rem + 0.8152vw, 0.8125rem);
        }
      }

      .bottom {
        width: 100%;
        height: 50%;
        border-radius: 0 0 3px 3px;
        padding: 20px;
        gap: 20px;

        span {
          font-size: clamp(0.625rem, 0.4022rem + 0.5435vw, 0.75rem);

          strong {
            font-size: clamp(0.625rem, 0.2908rem + 0.8152vw, 0.8125rem);
          }
        }

        button {
          padding: 10px 15px;
          border-radius: 3px;
          font-size: clamp(0.625rem, 0.2908rem + 0.8152vw, 0.8125rem);
        }
      }
    }

    #navbar {
      height: auto;
      width: 85%;
      border-radius: 5px;

      i {
        top: 15px;
        right: 15px;
        font-size: 28px;
      }

      ul {
        gap: 50px;
        padding: 40px 20px;

        li {
          font-size: clamp(2rem, 1.0405rem + 0.6969vw, 3rem);
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) and (orientation: landscape) {
  #popup {
    #loader {
      border-radius: 5px
    }

    #modal {
      width: auto;
      height: auto;
      border-radius: 5px;

      .top {
        width: 100%;
        height: 50%;
        border-radius: 5px 5px 0 0;
        padding: 25px;

        i {
          padding: 20px;
          border: 2px solid $white;
          font-size: clamp(1.3125rem, 0.2143rem + 1.7143vw, 1.5rem);
        }
      }

      .bottom {
        width: 100%;
        height: 50%;
        border-radius: 0 0 5px 5px;
        gap: 25px;
        padding: 25px;

        span {
          font-size: clamp(0.875rem, 0.5089rem + 0.5714vw, 0.9375rem);

          strong {
            font-size: clamp(0.9375rem, 0.2054rem + 1.1429vw, 1.0625rem);
          }
        }

        button {
          padding: 10px 15px;
          border-radius: 5px;
          font-size: clamp(0.9375rem, 0.2054rem + 1.1429vw, 1.0625rem);
        }
      }
    }

    #navbar {
      height: auto;
      width: 85%;
      border-radius: 5px;

      i {
        top: 15px;
        right: 15px;
        font-size: 28px;
      }

      ul {
        gap: 50px;
        padding: 40px 20px;

        li {
          font-size: clamp(2rem, 1.0405rem + 0.6969vw, 3rem);
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) and (orientation: portrait) {
  #popup {
    #loader {
      border-radius: 5px
    }

    #navbar {
      height: auto;
      width: 85%;
      border-radius: 5px;

      i {
        top: 15px;
        right: 15px;
        font-size: 28px;
      }

      ul {
        gap: 50px;
        padding: 40px 20px;

        li {
          font-size: clamp(2rem, 1.0405rem + 0.6969vw, 3rem);
        }
      }
    }
  }
}

@media screen and (min-width: 1201px) and (max-width: 1500px) {
  #popup {
    #loader {
      border-radius: 5px
    }

    #modal {
      width: auto;
      height: auto;
      border-radius: 5px;

      .top {
        width: 100%;
        height: 50%;
        border-radius: 5px 5px 0 0;
        padding: 20px;

        i {
          padding: 25px;
          border: 2px solid $white;
          font-size: clamp(1.5625rem, -0.1948rem + 2.3411vw, 2rem);
        }
      }

      .bottom {
        width: 100%;
        height: 50%;
        border-radius: 0 0 5px 5px;
        padding: 20px;
        gap: 20px;

        span {
          font-size: clamp(1.0625rem, 0.5604rem + 0.6689vw, 1.1875rem);

          strong {
            font-size: clamp(0.9375rem, -0.3177rem + 1.6722vw, 1.25rem);
          }
        }

        button {
          padding: 10px 15px;
          border-radius: 5px;
          font-size: clamp(0.9375rem, -0.3177rem + 1.6722vw, 1.25rem);
        }
      }
    }

    #navbar {
      height: auto;
      width: 85%;
      border-radius: 5px;

      i {
        top: 15px;
        right: 15px;
        font-size: 28px;
      }

      ul {
        gap: 50px;
        padding: 40px 20px;

        li {
          font-size: clamp(2rem, 1.0405rem + 0.6969vw, 3rem);
        }
      }
    }
  }
}

@media screen and (min-width: 1501px) and (max-width: 2000px) {
  #modal {
    width: auto;
    height: auto;
    border-radius: 5px;

    .top {
      width: 100%;
      height: 50%;
      border-radius: 5px 5px 0 0;
      padding: 25px;

      i {
        padding: 25px;
        border: 2px solid $white;
        border-radius: 50%;
        font-size: clamp(2rem, 0.12rem + 2.004vw, 2.625rem);
      }
    }

    .bottom {
      width: 100%;
      height: 50%;
      border-radius: 0 0 5px 5px;
      padding: 25px;
      gap: 25px;

      span {
        font-size: clamp(1.1875rem, 0.0595rem + 1.2024vw, 1.5625rem);

        strong {
          font-size: clamp(1.25rem, -0.066rem + 1.4028vw, 1.6875rem);
        }
      }

      button {
        padding: 10px 15px;
        border-radius: 5px;
        font-size: clamp(1.25rem, -0.066rem + 1.4028vw, 1.6875rem);
      }
    }
  }
}

@media screen and (min-width: 2001px) {
  #popup {
    #loader {
      border-radius: 5px
    }

    #modal {
      width: auto;
      height: auto;
      border-radius: 5px;

      .top {
        width: 100%;
        height: 50%;
        border-radius: 5px 5px 0 0;
        padding: 30px;

        i {
          padding: 25px;
          border: 2px solid $white;
          font-size: clamp(2.5rem, 0.12rem + 2.5vw, 3.2rem);
        }
      }

      .bottom {
        width: 100%;
        height: 50%;
        border-radius: 0 0 5px 5px;
        padding: 30px;
        gap: 30px;

        span {
          font-size: clamp(1.5em, 0.0595rem + 1.2024vw, 2rem);

          strong {
            font-size: clamp(1.5rem, -0.066rem + 1.4028vw, 2rem);
          }
        }

        button {
          padding: 10px 15px;
          border-radius: 5px;
          font-size: clamp(1.5rem, -0.066rem + 1.4028vw, 2rem);
        }
      }
    }

    #navbar {
      height: auto;
      width: 85%;
      border-radius: 5px;

      i {
        top: 15px;
        right: 15px;
        font-size: 28px;
      }

      ul {
        gap: 50px;
        padding: 40px 20px;

        li {
          font-size: clamp(2rem, 1.0405rem + 0.6969vw, 3rem);
        }
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

