@import 'src/sass/common';

#jumbotron {
  .dynamic-flex {
    display: flex;

    .icons {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .icon {
        cursor: pointer;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        color: $purple;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .content {
      display: flex;

      .description {
        display: flex;

        .title {
          font-weight: 500;
        }
        .subtitle {
          font-weight: 500;
        }
        .paragraph {
          font-weight: 300;
        }
        .contact {
          font-weight: 600;
          border: none;
          background-color: $purple;
          color: $white;
          display: inline-block;
          cursor: pointer;

          &:hover {
            transform: scale(1.1);
          }

          i {
            margin-left: 10px;
          }
        }
      }
      .images {
        display: flex;
        align-items: center;

        .icons-sm {
          display: none;
        }
        #image {
          background-image: url("../../../../public/assets/img/jumbo-image.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) and (orientation: portrait) {
  #jumbotron {
    height: 85%;
    width: 100%;
    display: flex;

    .container {
      width: 85%;
    }
    .dynamic-flex {
      flex-direction: column-reverse;
      justify-content: center;

      .icons {
        flex-direction: row;
        display: none;

        .icon {
          font-size: 4vw;
          margin: 10px 10px 0 0;
          width: 40px;
          height: 40px;
          justify-content: center;
          box-shadow: none;
        }
      }
      .content {
        height: 100%;
        flex-direction: column-reverse;
        justify-content: space-evenly;

        .images {
          width: 100%;
          margin-bottom: 20px;
          align-self: center;

          #image {
            width: 100%;
            margin: auto;
          }
        }
        .description {
          flex-direction: column;
          align-items: flex-start;

          .title {
            max-width: 100%;
            font-size: clamp(1.75rem, -0.6486rem + 12.5786vw, 3.125rem);
            line-height: 125%;
            text-align: left;
            margin-bottom: 5px;
          }
          .subtitle {
            max-width: 100%;
            font-size: clamp(0.85rem, -0.4505rem + 6.9182vw, 1.625rem);
            text-align: left;
            margin: 0 0 7px 2px;
          }
          .paragraph {
            max-width: 100%;
            font-size: clamp(0.65rem, -0.1321rem + 4vw, 1rem);
            margin: 0 0 12px 2px;
            text-align: left;
          }
          .contact {
            font-size: clamp(0.8rem, -0.0071rem + 3.7736vw, 1.125rem);
            padding: 13px;
            border-radius: 3px;
            margin-left: 2px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) and (orientation: portrait) {
  #jumbotron {
    height: 90%;
    width: 100%;
    display: flex;

    .container {
      width: 85%;
    }
    .dynamic-flex {
      flex-direction: column-reverse;
      justify-content: center;

      .icons {
        flex-direction: row;
        display: none;

        .icon {
          font-size: 4vw;
          margin: 10px 10px 0 0;
          width: 40px;
          height: 40px;
          justify-content: center;
          box-shadow: none;
        }
      }
      .content {
        height: 100%;
        flex-direction: column-reverse;
        justify-content: space-evenly;

        .images {
          width: 100%;
          margin-bottom: 20px;
          align-self: center;

          #image {
            width: 100%;
            margin: auto;
          }
        }
        .description {
          flex-direction: column;
          align-items: flex-start;

          .title {
            max-width: 100%;
            font-size: clamp(1.875rem, -0.6486rem + 11.5786vw, 3.125rem);
            line-height: 125%;
            text-align: left;
            margin-bottom: 5px;
          }
          .subtitle {
            max-width: 100%;
            font-size: clamp(0.9375rem, -0.4505rem + 6.9182vw, 1.625rem);
            text-align: left;
            margin: 0 0 7px 2px;
          }
          .paragraph {
            max-width: 100%;
            font-size: clamp(0.625rem, -0.1321rem + 4vw, 1rem);
            margin: 0 0 12px 2px;
            text-align: left;
          }
          .contact {
            font-size: clamp(0.75rem, -0.0071rem + 3.7736vw, 1.125rem);
            padding: 15px;
            border-radius: 3px;
            margin-left: 2px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
  #jumbotron {
    height: 85%;
    width: 100%;
    display: flex;

    .container {
      width: 85%;
    }
    .dynamic-flex {
      flex-direction: column-reverse;
      justify-content: center;

      .icons {
        flex-direction: row;
        display: none;

        .icon {
          font-size: 4vw;
          margin: 10px 10px 0 0;
          width: 40px;
          height: 40px;
          justify-content: center;
          box-shadow: none;
        }
      }
      .content {
        height: 100%;
        flex-direction: column-reverse;
        justify-content: space-evenly;

        .images {
          width: 80%;
          margin-bottom: 20px;
          align-self: center;

          #image {
            width: 100%;
            margin: auto;
          }
        }
        .description {
          flex-direction: column;
          align-items: flex-start;

          .title {
            max-width: 100%;
            font-size: clamp(1.875rem, -0.6486rem + 12.5786vw, 3.125rem);
            line-height: 125%;
            text-align: left;
            margin-bottom: 5px;
          }
          .subtitle {
            max-width: 100%;
            font-size: clamp(0.9375rem, -0.4505rem + 6.9182vw, 1.625rem);
            text-align: left;
            margin: 0 0 12px 3px;
          }
          .paragraph {
            max-width: 100%;
            font-size: clamp(0.625rem, -0.1321rem + 4vw, 1.1rem);
            margin: 0 0 17px 3px;
            text-align: left;
          }
          .contact {
            font-size: clamp(0.75rem, -0.0071rem + 3.7736vw, 1.2rem);
            padding: 20px;
            border-radius: 3px;
            margin-left: 3px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  #jumbotron {
    height: 85%;
    width: 100%;
    display: flex;

    .container {
      width: 85%;
    }
    .dynamic-flex {
      flex-direction: column-reverse;
      justify-content: center;
      height: auto;

      .icons {
        flex-direction: row;
        display: none;

        .icon {
          font-size: 4vw;
          margin: 10px 10px 0 0;
          width: 40px;
          height: 40px;
          justify-content: center;
          box-shadow: none;
        }
      }
      .content {
        height: 100%;
        flex-direction: column-reverse;
        justify-content: space-evenly;

        .images {
          width: 80%;
          margin-bottom: 20px;
          align-self: center;

          #image {
            width: 100%;
            margin: auto;
          }
        }
        .description {
          flex-direction: column;
          align-items: flex-start;

          .title {
            max-width: 100%;
            font-size: clamp(4.0625rem, 1.2353rem + 5.8824vw, 5rem);
            line-height: 125%;
            text-align: left;
            margin-bottom: 5px;
          }
          .subtitle {
            max-width: 100%;
            font-size: clamp(2.1875rem, 0.6797rem + 3.1373vw, 2.6875rem);
            text-align: left;
            margin: 0 0 12px 3px;
          }
          .paragraph {
            max-width: 100%;
            font-size: clamp(1.3125rem, 0.7471rem + 1.1765vw, 1.5rem);
            margin: 0 0 17px 3px;
            text-align: left;
          }
          .contact {
            font-size: clamp(1.4375rem, 0.6836rem + 1.5686vw, 1.6875rem);
            padding: 22px;
            border-radius: 5px;
            margin-left: 3px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 655px) and (orientation: landscape) {
  #jumbotron {
    height: 90%;
    width: 100%;

    .container {
      width: 85%;
    }
    .dynamic-flex {
      display: flex;
      flex-direction: row;
      align-items: center;

      .icons {
        width: 15%;
        gap: 15px;

        .icon {
          font-size: 10px;
          width: 25px;
          height: 25px;
        }
      }
      .content {
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .description {
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          width: 55%;
          height: 100%;

          .title {
            font-size: 3vw;
            line-height: 125%;
            max-width: 90%;
          }
          .subtitle {
            font-size: 2vw;
            max-width: 90%;
            margin: 0 0 0 1px;
          }
          .paragraph {
            font-size: 1.2vw;
            margin: 5px 0 0 1px;
            max-width: 90%;
          }
          .contact {
            font-size: 1.2vw;
            font-weight: 600;
            padding: 10px;
            margin: 8px 0 0 1px;
            border-radius: 3px;
          }
        }

        .images {
          align-items: center;
          height: 100%;
          width: 40%;

          #image {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 656px) and (max-width: 1024px) and (orientation: landscape) {
  #jumbotron {
    height: 90%;
    width: 100%;

    .container {
      width: 85%;
    }
    .dynamic-flex {
      display: flex;
      flex-direction: row;
      align-items: center;

      .icons {
        width: 15%;
        gap: 15px;

        .icon {
          font-size: 13px;
          width: 35px;
          height: 35px;
        }
      }
      .content {
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .description {
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          width: 55%;
          height: 100%;

          .title {
            font-size: clamp(1.375rem, -0.0734rem + 3.5326vw, 2.1875rem);
            line-height: 125%;
            max-width: 90%;
          }
          .subtitle {
            font-size: clamp(0.875rem, 0.2065rem + 1.6304vw, 1.25rem);
            max-width: 90%;
            margin: 5px 0 0 2px;
          }
          .paragraph {
            font-size: clamp(0.625rem, 0.4022rem + 0.5435vw, 0.75rem);
            margin: 10px 0 0 2px;
            max-width: 90%;
          }
          .contact {
            font-size: clamp(0.625rem, 0.2908rem + 0.8152vw, 0.8125rem);
            font-weight: 600;
            padding: 12px;
            margin: 13px 0 0 2px;
            border-radius: 3px;
          }
        }

        .images {
          align-items: center;
          height: 100%;
          width: 40%;

          .icons-sm {
            display: none;
          }
          #image {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) and (orientation: landscape) {
  #jumbotron {
    height: 90%;
    width: 100%;

    .container {
      width: 85%;
    }
    .dynamic-flex {
      display: flex;
      flex-direction: row;
      align-items: center;

      .icons {
        width: 15%;
        gap: 15px;

        .icon {
          font-size: 15px;
          width: 45px;
          height: 45px;
        }
      }
      .content {
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .description {
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          width: 55%;
          height: 100%;

          .title {
            font-size: clamp(2.1875rem, -0.0089rem + 3.4286vw, 2.5625rem);
            line-height: 125%;
            max-width: 90%;
          }
          .subtitle {
            font-size: clamp(1.3125rem, 0.2143rem + 1.7143vw, 1.5rem);
            max-width: 90%;
            margin: 7px 0 0 2px;
          }
          .paragraph {
            font-size: clamp(0.875rem, 0.5089rem + 0.5714vw, 0.9375rem);
            margin: 12px 0 0 2px;
            max-width: 90%;
          }
          .contact {
            font-size: clamp(0.9375rem, 0.2054rem + 1.1429vw, 1.0625rem);
            font-weight: 600;
            padding: 15px;
            margin: 15px 0 0 2px;
            border-radius: 3px;
          }
        }

        .images {
          align-items: center;
          height: 100%;
          width: 40%;

          #image {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) and (orientation: portrait) {
  #jumbotron {
    height: 85%;
    width: 100%;
    display: flex;

    .container {
      width: 85%;
    }
    .dynamic-flex {
      flex-direction: column-reverse;
      justify-content: center;

      .icons {
        flex-direction: row;
        display: none;

        .icon {
          font-size: 4vw;
          margin: 10px 10px 0 0;
          width: 40px;
          height: 40px;
          justify-content: center;
          box-shadow: none;
        }
      }
      .content {
        height: 100%;
        flex-direction: column-reverse;
        justify-content: space-evenly;

        .images {
          width: 80%;
          margin-bottom: 20px;
          align-self: center;

          #image {
            width: 100%;
            margin: auto;
          }
        }
        .description {
          flex-direction: column;
          align-items: flex-start;

          .title {
            max-width: 100%;
            font-size: clamp(4.0625rem, 1.2353rem + 5.8824vw, 5rem);
            line-height: 125%;
            text-align: left;
            margin-bottom: 5px;
          }
          .subtitle {
            max-width: 100%;
            font-size: clamp(2.1875rem, 0.6797rem + 3.1373vw, 2.6875rem);
            text-align: left;
            margin: 0 0 12px 3px;
          }
          .paragraph {
            max-width: 100%;
            font-size: clamp(1.3125rem, 0.7471rem + 1.1765vw, 1.5rem);
            margin: 0 0 17px 3px;
            text-align: left;
          }
          .contact {
            font-size: clamp(1.4375rem, 0.6836rem + 1.5686vw, 1.6875rem);
            padding: 22px;
            border-radius: 5px;
            margin-left: 3px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1201px) and (max-width: 1500px) {
  #jumbotron {
    height: 90%;
    width: 100%;

    .container {
      width: 85%;
    }
    .dynamic-flex {
      display: flex;
      flex-direction: row;
      align-items: center;

      .icons {
        width: 15%;
        gap: 35px;

        .icon {
          font-size: 20px;
          border-radius: 50%;
          width: 50px;
          height: 50px;
        }
      }
      .content {
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .description {
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          width: 55%;
          height: 100%;

          .title {
            font-size: clamp(2.625rem, -0.1365rem + 3.6789vw, 3.3125rem);
            max-width: 90%;
          }
          .subtitle {
            font-size: clamp(1.5625rem, -0.1948rem + 2.3411vw, 2rem);
            margin: 5px 0 0 2px;
            max-width: 90%;
          }
          .paragraph {
            font-size: clamp(1.0625rem, 0.5604rem + 0.6689vw, 1.1875rem);
            margin: 15px 0 0 2px;
            max-width: 90%;
          }
          .contact {
            font-size: clamp(0.9375rem, -0.3177rem + 1.6722vw, 1.25rem);
            font-weight: 600;
            padding: 17px;
            margin: 20px 0 0 2px;
            border-radius: 5px;
          }
        }

        .images {
          align-items: center;
          height: 100%;
          width: 40%;

          #image {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1501px) and (max-width: 2000px) {
  #jumbotron {
    height: 90%;
    width: 100%;

    .container {
      width: 85%;
    }
    .dynamic-flex {
      display: flex;
      flex-direction: row;
      align-items: center;

      .icons {
        width: 15%;
        gap: 35px;

        .icon {
          font-size: clamp(1.25rem, -0.63rem + 2.004vw, 1.875rem);
          width: clamp(3.125rem, -2.515rem + 6.012vw, 5rem);
          height: clamp(3.125rem, -2.515rem + 6.012vw, 5rem);
          border-radius: 50%;
        }
      }
      .content {
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .description {
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          width: 55%;
          height: 100%;

          .title {
            font-size: clamp(3.3125rem, -0.0715rem + 3.5072vw, 4.4375rem);
            line-height: 125%;
            max-width: 90%;
          }
          .subtitle {
            font-size: clamp(2rem, 0.12rem + 2.004vw, 2.625rem);
            margin: 5px 0 0 2px;
            max-width: 90%;
          }
          .paragraph {
            font-size: clamp(1.1875rem, 0.0595rem + 1.2024vw, 1.5625rem);
            margin: 15px 0 0 2px;
            max-width: 90%;
          }
          .contact {
            font-size: clamp(1.25rem, -0.066rem + 1.4028vw, 1.6875rem);
            font-weight: 600;
            padding: 17px;
            margin: 20px 0 0 2px;
            border-radius: 5px;
          }
        }

        .images {
          align-items: center;
          height: 100%;
          width: 40%;

          #image {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 2001px) {
  #jumbotron {
    height: 90%;
    width: 100%;

    .container {
      width: 85%;
    }
    .dynamic-flex {
      display: flex;
      flex-direction: row;
      align-items: center;

      .icons {
        width: 15%;
        gap: 50px;

        .icon {
          font-size: clamp(1.25rem, -0.63rem + 2.004vw, 1.875rem);
          width: clamp(3.125rem, -2.515rem + 6.012vw, 5rem);
          height: clamp(3.125rem, -2.515rem + 6.012vw, 5rem);
          border-radius: 50%;
        }
      }
      .content {
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .description {
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          width: 55%;
          height: 100%;

          .title {
            font-size: clamp(4rem, -0.0715rem + 3.6vw, 7rem);
            line-height: 125%;
            max-width: 90%;
          }
          .subtitle {
            font-size: clamp(2.5rem, 0.12rem + 2.5vw, 3.2rem);
            margin: 15px 0 0 2px;
            max-width: 90%;
          }
          .paragraph {
            font-size: clamp(1.5em, 0.0595rem + 1.2024vw, 2rem);
            margin: 25px 0 0 2px;
            max-width: 90%;
          }
          .contact {
            font-size: clamp(1.5rem, -0.066rem + 1.4028vw, 2rem);
            font-weight: 600;
            padding: 20px;
            margin: 30px 0 0 2px;
            border-radius: 5px;
          }
        }

        .images {
          align-items: center;
          height: 100%;
          width: 40%;

          #image {
            width: 100%;
          }
        }
      }
    }
  }
}
