@import 'src/sass/common';

#homepage {
  height: auto;
  overflow: hidden;

  #theme {
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 81%;
    right: 2%;
    margin: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease-in-out;
    }
    .opacity {
      transition: all 0.3s ease-in-out;
      opacity: 0;
    }
  }
  #to-the-top {
    width: 45px;
    height: 45px;
    position: fixed;
    top: 91%;
    right: 2%;
    margin: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    opacity: 0;

    &:hover {
      color: $purple;
      transform: scale(1.1);
    }
  }
}


@media screen and (max-width: 320px) and (orientation: portrait) {
  .theme {
    i {
      font-size: 5vw;
    }
  }
  .to-the-top {
    i {
      font-size: 5vw;
    }
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) and (orientation: portrait) {
  .theme {
    i {
      font-size: 5vw;
    }
  }
  .to-the-top {
    i {
      font-size: 5vw;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
  .theme {
    i {
      font-size: 5vw;
    }
  }
  .to-the-top {
    i {
      font-size: 5vw;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  .theme {
    i {
      font-size: 5vw;
    }
  }
  .to-the-top {
    i {
      font-size: 5vw;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 655px) and (orientation: landscape) {
  .theme {
    i {
      font-size: 1.4vw;
    }
  }
  .to-the-top {
    i {
      font-size: 1.4vw;
    }
  }
}

@media screen and (min-width: 656px) and (max-width: 1024px) and (orientation: landscape) {
  .theme {
    i {
      font-size: 1.4vw;
    }
  }
  .to-the-top {
    i {
      font-size: 1.4vw;
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) and (orientation: landscape) {
  .theme {
    i {
      font-size: 1.4vw;
    }
  }
  .to-the-top {
    i {
      font-size: 1.4vw;
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) and (orientation: portrait) {
  .theme {
    i {
      font-size: 5vw;
    }
  }
  .to-the-top {
    i {
      font-size: 5vw;
    }
  }
}

@media screen and (min-width: 1201px) and (max-width: 1500px) {
  .theme {
    i {
      font-size: 1.4vw;
    }
  }
  .to-the-top {
    i {
      font-size: 1.4vw;
    }
  }
}

@media screen and (min-width: 1501px) and (max-width: 2000px) {
  .theme {
    i {
      font-size: 1vw;
    }
  }
  .to-the-top {
    i {
      font-size: 1vw;
    }
  }
}

@media screen and (min-width: 2001px) {
  .theme {
    i {
      font-size: 1.4vw;
    }
  }
  .to-the-top {
    i {
      font-size: 1.4vw;
    }
  }
}
