@import 'src/sass/common';

#footer {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  .copyright {
    padding: 20px;

    i {
      margin: 0 5px;
    }
    a {
      color: $purple;
      margin: 0 5px;
      font-weight: 600;
    }
  }
}