@import 'src/sass/common';

#contactMe {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  .dynamic-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  space-evenly;

    .titles {
      max-height: 25%;
      display: flex;
      flex-direction: column;
      align-self: center;
      justify-content: flex-start;

      .title-gradient {
        text-align: center;
        font-weight: 800;
        background: linear-gradient(to top, transparent 0%, $grey 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0.1;
      }
      .title-solid {
        text-align: center;
        font-weight: 700;
        position: relative;
      }
    }
  }
}

@media screen and (max-width: 320px) and (orientation: portrait) {
  #contactMe {
    min-height: 100vh;
    width: 100%;

    .container {
      width: 85%;
    }
    .dynamic-flex {
      height: auto;

      .titles {
        margin-bottom: 7.5%;

        .title-gradient {
          font-size: clamp(2.3125rem, 0.75rem + 12.5vw, 3.25rem);
          line-height: 100%;
        }
        .title-solid {
          font-size: clamp(1.9375rem, 0.5833rem + 10.8333vw, 2.75rem);
          line-height: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) and (orientation: portrait) {
  #contactMe {
    min-height: 100vh;
    width: 100%;

    .container {
      width: 85%;
    }
    .dynamic-flex {
      height: auto;

      .titles {
        margin-bottom: 7.5%;

        .title-gradient {
          font-size: clamp(2.3125rem, 0.75rem + 12.5vw, 3.25rem);
          line-height: 100%;
        }
        .title-solid {
          font-size: clamp(1.9375rem, 0.5833rem + 10.8333vw, 2.75rem);
          line-height: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
  #contactMe {
    min-height: 100vh;
    width: 100%;

    .container {
      width: 85%;
    }
    .dynamic-flex {
      height: auto;

      .titles {
        margin-bottom: 7.5%;

        .title-gradient {
          font-size: clamp(3.75rem, 2.1788rem + 5.2265vw, 4.6875rem);
          line-height: 100%;
        }
        .title-solid {
          font-size: clamp(2.8125rem, 1.2413rem + 5.2265vw, 3.75rem);
          line-height: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  #contactMe {
    min-height: 100vh;
    width: 100%;

    .container {
      width: 85%;
    }
    .dynamic-flex {
      height: auto;

      .titles {
        margin-bottom: 7.5%;

        .title-gradient {
          font-size: clamp(5.3125rem, 3.7413rem + 5.2265vw, 6.25rem);
          line-height: 100%;
        }
        .title-solid {
          font-size: clamp(4.375rem, 2.8038rem + 5.2265vw, 5.3125rem);
          line-height: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 655px) and (orientation: landscape) {
  #contactMe {
    min-height: 100vh;
    width: 100%;

    .container {
      width: 85%;
    }
    .dynamic-flex {
      height: auto;

      .titles {
        margin-bottom: 7.5%;

        .title-gradient {
          font-size: clamp(2.1875rem, 1.292rem + 4.4776vw, 3.125rem);
          line-height: 100%;
        }
        .title-solid {
          font-size: clamp(1.25rem, 0.3545rem + 4.4776vw, 2.1875rem);
          line-height: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 656px) and (max-width: 1024px) and (orientation: landscape) {
  #contactMe {
    min-height: 100vh;
    width: 100%;

    .container {
      width: 85%;
    }
    .dynamic-flex {
      height: auto;

      .titles {
        margin-bottom: 7.5%;

        .title-gradient {
          font-size: clamp(2.1875rem, 1.292rem + 4.4776vw, 3.125rem);
          line-height: 100%;
        }
        .title-solid {
          font-size: clamp(1.25rem, 0.3545rem + 4.4776vw, 2.1875rem);
          line-height: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) and (orientation: landscape) {
  #contactMe {
    min-height: 100vh;
    width: 100%;

    .container {
      width: 85%;
    }
    .dynamic-flex {
      height: auto;

      .titles {
        margin-bottom: 7.5%;

        .title-gradient {
          font-size: clamp(2.1875rem, -0.7976rem + 14.9254vw, 5.3125rem);
          line-height: 100%;
        }
        .title-solid {
          font-size: clamp(1.25rem, -1.7351rem + 14.9254vw, 4.375rem);
          line-height: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) and (orientation: portrait) {
  #contactMe {
    min-height: 100vh;
    width: 100%;

    .container {
      width: 85%;
    }
    .dynamic-flex {
      height: auto;

      .titles {
        margin-bottom: 7.5%;

        .title-gradient {
          font-size: clamp(5.3125rem, 3.7413rem + 5.2265vw, 6.25rem);
          line-height: 100%;
        }
        .title-solid {
          font-size: clamp(4.375rem, 2.8038rem + 5.2265vw, 5.3125rem);
          line-height: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 1201px) and (max-width: 1500px) {
  #contactMe {
    height: 100vh;
    width: 100%;

    .container {
      width: 85%;
    }
    .dynamic-flex {
      height: auto;

      .titles {
        margin-bottom: 7.5%;

        .title-gradient {
          font-size: clamp(2.1875rem, -0.7976rem + 14.9254vw, 5.3125rem);
          line-height: 100%;
        }
        .title-solid {
          font-size: clamp(1.25rem, -1.7351rem + 14.9254vw, 4.375rem);
          line-height: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 1501px) and (max-width: 2000px) {
  #contactMe {
    height: 100vh;
    width: 100%;

    .container {
      width: 85%;
    }
    .dynamic-flex {
      height: auto;

      .titles {
        margin-bottom: 7.5%;

        .title-gradient {
          font-size: clamp(4.6875rem, 1.875rem + 3vw, 5.625rem);
          line-height: 100%;
        }
        .title-solid {
          font-size: clamp(3.75rem, 0.9375rem + 3vw, 4.6875rem);
          line-height: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 2001px) {
  #contactMe {
    height: 100vh;
    width: 100%;

    .container {
      width: 85%;
    }
    .dynamic-flex {
      height: auto;

      .titles {
        margin-bottom: 7.5%;

        .title-gradient {
          font-size: clamp(5.5rem, -0.0715rem + 3.6vw, 7rem);
          line-height: 100%;
        }
        .title-solid {
          font-size: clamp(4.5rem, -2.9375rem + 4.8vw, 6.0625rem);
          line-height: 100%;
        }
      }
    }
  }
}