@import 'src/sass/common';

#contactMe {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  .dynamic-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  space-evenly;

    .titles {
      max-height: 25%;
      display: flex;
      flex-direction: column;
      align-self: center;
      justify-content: flex-start;

      .title-gradient {
        text-align: center;
        font-weight: 800;
        background: linear-gradient(to top, transparent 0%, $grey 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0.1;
      }
      .title-solid {
        text-align: center;
        font-weight: 700;
        position: relative;
      }
    }
  }
}

@media screen and (max-width: 320px) and (orientation: portrait) {

}

@media screen and (min-width: 321px) and (max-width: 480px) and (orientation: portrait) {
  #contactMe {
    min-height: 100vh;

    .container {
      width: 85%;
      margin: 0 auto 7.5% auto;
    }
    .dynamic-flex {
      height: auto;

      .titles {
        margin-bottom: 7.5%;

        .title-gradient {
          font-size: 3.5rem;
          line-height: 50px;
        }
        .title-solid {
          font-size: 3rem;
          margin: 0;
          line-height: 35px;
        }
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {

}

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {

}

@media screen and (min-width: 320px) and (max-width: 655px) and (orientation: landscape) {

}

@media screen and (min-width: 656px) and (max-width: 1024px) and (orientation: landscape) {

}

@media screen and (min-width: 1025px) and (max-width: 1200px) and (orientation: landscape) {

}

@media screen and (min-width: 1025px) and (max-width: 1200px) and (orientation: portrait) {

}

@media screen and (min-width: 1201px) and (max-width: 1500px) {

}

@media screen and (min-width: 1501px) and (max-width: 2000px) {
  #contactMe {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .dynamic-flex {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:  space-evenly;
      height: 100%;

      .titles {
        max-height: 25%;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: flex-start;

        .title-gradient {
          text-align: center;
          font-size: 4.5rem;
          font-weight: 800;
          background: linear-gradient(to top, transparent 0%, $grey 70%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          opacity: 0.1;
          line-height: 70px;
        }
        .title-solid {
          text-align: center;
          font-size: 3.5rem;
          font-weight: 700;
          position: relative;
          margin: 0;
          line-height: 35px;
        }
      }
    }
  }
}

@media screen and (min-width: 2001px) {

}