@import 'src/sass/common';

#navbar {
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  align-content: center;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;

    span {
      font-weight: 500;
    }
  }
  .right {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      align-items: center;
      height: 100%;

      li {
        font-weight: 500;
        cursor: pointer;
      }
      .list-item {
        border-bottom: 2px solid transparent;
        transition: all 1000ms;
      }
      .theme {
        position: relative;
        display: flex;
        align-items: center;

        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: all 500ms;
        }
        .opacity {
          transition: all 500ms;
          opacity: 0;
        }
      }
      .language {
        background-size: cover;
        background-position: center;
        border-radius: 50%;
      }
    }
  }
}

@media screen and (max-width: 320px) and (orientation: portrait) {
  #navbar {
    bottom: 0;
    top: inherit;
    height: 10%;
    box-shadow: rgba(33, 35, 38, 0.1) 0 -10px 10px -10px ;

    .container {
      width: 90%;

      .left {
        span {
          font-size: 5vw;
          font-weight: 500;
        }
      }
      .right {
        ul {
          .list-item {
            display: none;
          }
          .theme {
            i {
              font-size: 5vw;
            }
          }
          .language {
            height: 5vw;
            width: 5vw;
            margin-left: 10vw;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) and (orientation: portrait) {
  #navbar {
    bottom: 0;
    top: inherit;
    height: 10%;
    box-shadow: rgba(33, 35, 38, 0.1) 0 -10px 10px -10px ;

    .container {
      width: 90%;

      .left {
        span {
          font-size: 5vw;
          font-weight: 500;
        }
      }
      .right {
        ul {
          .list-item {
            display: none;
          }
          .theme {
            i {
              font-size: 5vw;
            }
          }
          .language {
            height: 5vw;
            width: 5vw;
            margin-left: 10vw;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
  #navbar {
    bottom: 0;
    top: inherit;
    height: 10%;
    box-shadow: rgba(33, 35, 38, 0.1) 0 -10px 10px -10px ;

    .container {
      width: 80%;

      .left {
        span {
          font-size: 4vw;
          font-weight: 500;
        }
      }
      .right {
        ul {
          .list-item {
            display: none;
          }
          .theme {
            i {
              font-size: 5vw;
            }
          }
          .language {
            height: 5vw;
            width: 5vw;
            margin-left: 10vw;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  #navbar {
    bottom: 0;
    top: inherit;
    height: 10%;
    box-shadow: rgba(33, 35, 38, 0.1) 0 -10px 10px -10px ;

    .container {
      width: 80%;

      .left {
        span {
          font-size: 4vw;
          font-weight: 500;
        }
      }
      .right {
        ul {
          .list-item {
            display: none;
          }
          .theme {
            i {
              font-size: 5vw;
            }
          }
          .language {
            height: 5vw;
            width: 5vw;
            margin-left: 10vw;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 655px) and (orientation: landscape) {
  #navbar {
    top: 0;
    left: 0;
    right: 0;
    height: 15%;
    box-shadow: rgba(33, 35, 38, 0.1) 0 10px 10px -10px;

    .left {
      span {
        font-size: 1.5vw;
      }
    }
    .right {
      ul {
        display: flex;
        align-items: center;
        li {
          font-size: 1.4vw;
          margin: 0 10px;
        }
        .theme {
          i {
            font-size: 1.4vw;
          }
        }
        .language {
          height: 1.4vw;
          width: 1.4vw;
        }
      }
    }
  }
}

@media screen and (min-width: 656px) and (max-width: 1024px) and (orientation: landscape) {
  #navbar {
    top: 0;
    left: 0;
    right: 0;
    height: 15%;
    box-shadow: rgba(33, 35, 38, 0.1) 0 10px 10px -10px;

    .left {
      span {
        font-size: 1.5vw;
      }
    }
    .right {
      ul {
        display: flex;
        align-items: center;
        li {
          font-size: 1.4vw;
          margin: 0 15px;
        }
        .theme {
          i {
            font-size: 1.4vw;
          }
        }
        .language {
          height: 1.4vw;
          width: 1.4vw;
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) and (orientation: landscape) {
  #navbar {
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    box-shadow: rgba(33, 35, 38, 0.1) 0 10px 10px -10px;

    .left {
      span {
        font-size: 1.5vw;
      }
    }
    .right {
      ul {
        display: flex;
        align-items: center;
        li {
          font-size: 1.4vw;
          margin: 0 20px;
        }
        .theme {
          i {
            font-size: 1.4vw;
          }
        }
        .language {
          height: 1.4vw;
          width: 1.4vw;
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) and (orientation: portrait) {
  #navbar {
    bottom: 0;
    top: inherit;
    height: 10%;
    box-shadow: rgba(33, 35, 38, 0.1) 0 -10px 10px -10px ;

    .container {
      width: 80%;

      .left {
        span {
          font-size: 4vw;
          font-weight: 500;
        }
      }
      .right {
        ul {
          .list-item {
            display: none;
          }
          .theme {

            i {
              font-size: 5vw;
            }
          }
          .language {
            height: 5vw;
            width: 5vw;
            margin-left: 10vw;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1201px) and (max-width: 1500px) {
  #navbar {
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    box-shadow: rgba(33, 35, 38, 0.1) 0 10px 10px -10px;

    .left {
      span {
        font-size: 1.6vw;
      }
    }
    .right {
      ul {
        li {
          font-size: 1.4vw;
          margin: 0 25px;
        }
        .theme {
          i {
            font-size: 1.4vw;
          }
        }
        .language {
          height: 1.4vw;
          width: 1.4vw;
        }
      }
    }
  }
}

@media screen and (min-width: 1501px) and (max-width: 2000px) {
  #navbar {
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    box-shadow: rgba(33, 35, 38, 0.1) 0 10px 10px -10px;

    .left {
      span {
        font-size: 1.2vw;
      }
    }
    .right {
      ul {
        li {
          font-size: 1vw;
          margin: 0 30px;
        }
        .theme {
          height: 20px;
          width: 20px;
        }
        .language {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 2001px) {
  #navbar {
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    box-shadow: rgba(33, 35, 38, 0.1) 0 10px 10px -10px;

    .left {
      span {
        font-size: 1.2vw;
      }
    }
    .right {
      ul {
        li {
          font-size: 1vw;
          margin: 0 30px;
        }
        .theme {
          i {
            font-size: 1.4vw;
          }
        }
        .language {
          height: 1.4vw;
          width: 1.4vw;
        }
      }
    }
  }
}
